<template name="elementForm">
  <form class="main">
    <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
            <input name="name" type="text" value="" placeholder="Name of Element"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="name">Symbol</label>
        <div class="controls">
            <input name="symbol" type="text" value="" placeholder="Element Symbol"/>
        </div>
    </div>    
    <div class="control-group">
        <label class="control-label" for="name">Number</label>
        <div class="controls">
            <input name="number" type="text" value="" placeholder="Element Number"/>
        </div>
    </div>    
    <div class="control-group">
        <label class="control-label" for="name">Weight</label>
        <div class="controls">
            <input name="weight" type="text" value="" placeholder="Weight of Element"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="name">Catergory</label>
        <select name="catergory" class="selectpicker">
          <option>actinoid</option>
          <option>alkali</option>
          <option>alkaline-earth</option>
          <option>diatomic</option>
          <option>halogen</option>
          <option>lanthanoid</option>
          <option>metalloid</option>
          <option>noble-gas</option>
          <option>post-transition</option>
          <option>transition</option>
        </select>
        </div>
    </div>
    

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
  </form>
</template>